.signupContainer {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupContainer > p:first-child {
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 0.5rem 0;
}

.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 35%;
    border-radius: 5px;
    padding: 1rem;
}

.signupForm input {
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.5rem;
    width: 100%;
}

.signupForm input:focus {
    border: 1px solid transparent;
    outline: 1px solid #1ED760;
}

.signupForm .groupsOfTwo {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.signupForm .groupsOfTwo > div {
    width: 50%;
    margin: 0 1rem;
}

.signupForm button {
    display: block;
    margin: 0 auto;
    width: 70%;
    padding: 0.65rem;
    margin-top: 1rem;
    background-color: #1ED760;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid transparent;
}

.signupForm button:hover {
    background-color: white;
    border: 1px solid #1ED760;
    transition: all 0.4s;
}

.signupContainer p {
    font-weight: 500;
}

.signupContainer .errorMessage {
    color: rgb(255, 62, 62);
    font-size: 12px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .signupForm {
        width: 90%; /* Adjust as needed for tablets */
    }
}